
body {
	background: #121212;
}

.content-wrapper { 
	display: flex;
	margin: auto;
	justify-content: center;
}

.solver-wrapper {
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 700px;
}

.board-wrapper {
	width: 100%;
	height: 100%;
	margin: 10px 0px 0px 0px;
}

.hud-wrapper {
	max-height: 80px;
	max-width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 0px 0px 0px;	
}

.slider-wrapper {
	overflow: hidden;
	text-align: center;
	width: 100px;
	margin: 10px 5px 0px 0px;
}

.slider, .number-of-queens {
	float: right;
	clear: right;
}

.reload-button {
	width: 55px;
	height: 30px;
	margin: 0px 0px 0px 10px;
	border-radius: 15px;
	background: #AAAAAA;
	float: left;
	text-align: center;
}

.reload-button:hover, .submit-button:hover {
	cursor: pointer;
	background: #6e6e6e;
}

.reload-button-text {
	font-family: Lucida Sans Unicode;
	font-size: 18px;
	color: white;
	opacity: 0.87;
	user-select: none;
}

.number-of-queens {
	font-family: 'Roboto', sans-serif;
	color: white;
	user-select: none;
	opacity: 0.87;
	margin: 10px 0px 0px 0px;
}

.time-taken {
	opacity: 0.87;
	display: inline-block;
	margin: 7px 0px 0px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: white;
	user-select: none;
}

.submit-solution {
	align-self: center;
}

.submit-button {
	width: 80px;
	height: 40px;
	background: #AAAAAA;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	margin: 0px 0px 0px 0px;
	border: none;
}